{% extends 'index.html' %}
{% block title %}contact {% endblock title %} 
{% block body %}

<div class="bg-gray-900 w-screen h-screen" >
        
<div class="text-white">
<h3>GET IN TOUCH</h3>
<H1>CONTACT US</H1>
<P>Send us an inquire,or drop our fitness center in persion to have a look around.</P>

<h3>ADDRESS</h1>
<P>Bhubaneswer,Odisha,India</P>
<h3>PHONE</h3>
<P>+91 8117923909</P>

<h3>EMAIL</h3>
<P>goudaasharani86@gmail.com</P>



</div>
<div>
    <label>Your name</label>
    <input type="text">
    <label>Your email</label>
    <input type="email">
    <label>Subject</label>
    <input type="text">
    <label >Your message(optional)</label>
    <input type="text">
    <button cl>SUBMIT</button>

</div>



</div>

{% endblock body %}