<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>{% block title %}{% endblock title %} - GYM</title>
    <link
      rel="icon"
      type="image/png"
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7LlZcikRdDKYZY455uHz6dNDqvdZXdWGaqg&s"
    />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="bg-blue-950">
      <div class="flex justify-between items-center px-4 py-2">
        <!-- Left: Logo -->
        <a href="/">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7LlZcikRdDKYZY455uHz6dNDqvdZXdWGaqg&s"
            alt="this is an img"
            class="h-14"
          />
        </a>

        <!-- Right: Navigation -->
        <nav class="flex space-x-4">
          <a
            href="{{url_for('home')}}"
            class="font-bold rounded-lg px-2 py-2 text-white hover:bg-gray-100 hover:text-gray-900"
          >
            Home
          </a>
          <a href="{{url_for('about')}}" class="font-bold rounded-lg px-2 py-2 text-white hover:bg-gray-100 hover:text-gray-900">About</a>
          <a
            href="{{url_for('member')}}"
            class="font-bold rounded-lg px-2 py-2 text-white hover:bg-gray-100 hover:text-gray-900"
          >
            Membership
          </a>
          <a
            href="{{url_for('login')}}"
            class="font-bold rounded-lg px-2 py-2 text-white hover:bg-gray-100 hover:text-gray-900"
          >
            Login
          </a>
          <a
            href="{{url_for('contacts')}}"
            class="font-bold rounded-lg px-2 py-2 text-white hover:bg-gray-100 hover:text-gray-900"
          >
            Contacts
          </a>
        </nav>
      </div>
    </header>

  

    {% block body %} {% endblock body %}
  </body>
</html>
