{% extends 'index.html' %}
{% block title %}Signup{% endblock title %}
{% block body %}

<div class="min-h-screen bg-black flex items-center justify-center py-10 px-4">
  <div class="bg-white w-full max-w-xl rounded-xl shadow-lg p-6">
    <img src="https://t4.ftcdn.net/jpg/03/50/81/89/360_F_350818949_lJTfzSTDr79e9Kn55PUVZjN19ct20uGc.jpg"
         alt="Gym Banner"
         class="w-full rounded-t-xl mb-6">

    <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Gym Sign Up</h1>

    <form method="POST" class="space-y-4">
      {{ form.hidden_tag()}}
      <div>
        {{ form.name.label(class="block font-semibold mb-1")}}
        {{ form.name(class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-400")}}
      </div>

      <div>
        {{ form.email.label(class="block font-semibold mb-1")}}
        {{ form.email(class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-400")}}

     <!--<div>
        <label class="block font-semibold mb-1">Age</label>
        <input type="number" name="age"
               class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-400">
      </div>

      <div>
        <label class="block font-semibold mb-1">What type of workout do you prefer?</label>
        <div class="space-y-2">
          <label class="flex items-center space-x-2">
            <input type="checkbox" name="workout" value="Cardiovascular" class="accent-green-600">
            <span>Cardiovascular</span>
          </label>
          <label class="flex items-center space-x-2">
            <input type="checkbox" name="workout" value="Strength" class="accent-green-600">
            <span>Strength</span>
          </label>
          <label class="flex items-center space-x-2">
            <input type="checkbox" name="workout" value="Yoga" class="accent-green-600">
            <span>Yoga</span>
          </label>
          <label class="flex items-center space-x-2">
            <input type="checkbox" name="workout" value="Flexibility" class="accent-green-600">
            <span>Flexibility</span>
          </label>
        </div>
      </div>

      

      
--> 
      <div>
        {{ form.password.label(class="block font-semibold mb-1") }}
        {{ form.password(class="w-full border rounded-md px-3 py-2")}}
      </div>

      <div class="flex items-center justify-between mt-6">
        {{ form.submit(class="bg-red-600 hover:bg-orange-500 text-white font-semibold px-5 py-2 rounded-md")}}
      </div>
        <span class="text-blue-600 hover:underline">
          <a href="{{ url_for('login') }}">Sign in if you have an account?</a>
        </span>
      </div>
    </form>
  </div>
</div>

{% endblock body %}
