{% extends 'index.html' %} {% block title %}sign-in {% endblock title %} {%block
body %}

<div class="bg-emerald-950 w-screen h-screen text-amber-50">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2
        class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white"
      >
        Sign in to your account
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form
        action="{{url_for('login')}}"
        method="POST"
        novalidate
        class="space-y-6"
      >
        {{form.hidden_tag()}}

        <div>
          {{form.username.label(class = "block text-sm/6 font-medium
          text-gray-100")}} {{ form.username(class="block w-full rounded-md
          bg-white/5 px-3 py-1.5 text-white outline-white/10
          placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2
          focus:outline-indigo-500 sm:text-sm/6")}}
        </div>

        <div>
          {{form.password.label(class="block text-sm/6 font-medium
          text-gray-100")}} {{form.password(class="block w-full rounded-md
          bg-white/5 px-3 py-1.5 text-white outline-white/10
          placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2
          focus:outline-indigo-500 sm:text-sm/6")}}
        </div>

        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
          >
            Sign in
          </button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm/6 text-gray-400">
        Not a member?
        <a
          href="{{url_for('signup')}}"
          class="font-semibold text-indigo-400 hover:text-indigo-300"
          >Signup</a
        >
      </p>
    </div>
  </div>

  {% endblock body %}
</div>
